<h1>  showing this customers</h1>

<p>  First Name: <%=  @customer.customer_first_nm %> </p>
<p>  Last Name: <%= @customer.customer_last_nm %> </p>
<p>  Email: <%= @customer.customer_email %> </p>
<p> Comment <%= @customer.comment %> </p>

